/* landing header row overflow */
#header-row{
    margin-right: 0 !important;
}

/* pricing table */
#pricing-table{
    border-top-style: hidden;
}
#pricing-table thead th{
    padding: 0 !important;
}
#pricing-table tbody{
    background-color: #fff;
}
#pricing-table th[scope="row"]{
    line-break: anywhere; 
    min-width:130px;
    background-color: #6f00ff;
    color: white;
}
.title-row{
    background-color: #6f00ff;
}
#pricing-table td{
    padding-right: 0 !important;
}
#pricing-table th{
    padding-right: 16px !important;
}
#pricing-table td[data-status="true"]{
    font-weight: 900;
    color: rgb(0, 209, 0);
}
#pricing-table td[data-status="false"]{
    font-weight: 900;
    color: rgb(255, 0, 0);
}
.bronze-head,.silver-head,.gold-head{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.bronze-head{
    background-color: #fff;
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
    border: 1px solid rgb(204, 204, 204);
    border-bottom: 0px;
}
.silver-head{
    position: relative;
    background-color: #4b3c4e;
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
    -webkit-box-shadow: inset -27px 0px 28px -30px rgba(0,0,0,0.63); 
    box-shadow: inset -27px 0px 28px -30px rgba(0,0,0,0.63);
}
.gold-head{
    position: relative;
    /* background-color: #7a39e4; */
    background: rgb(137,58,214);
    background: linear-gradient(180deg, rgba(137,58,214,1) 0%, rgba(146,87,204,1) 19%, rgba(57,124,228,1) 100%);
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
    -webkit-box-shadow: 0px 0px 21px -6px #000000; 
    box-shadow: 0px 0px 21px -6px #000000;
    overflow: hidden;
}
.bronze-body{
    /* -webkit-box-shadow: 0px 0px 21px -6px #000000; 
    box-shadow: 0px 0px 21px -6px #000000; */
}
.gold-body{
    background-color: #fff;
}
.sign-box{
    position:absolute;
    bottom: 0;
    right: 0;
    padding: 2.5px 0;
    width: 75%;
    overflow:hidden;
    background: #fff;
    border-right: 5px solid #4b3c4e;
    clip-path: polygon(
      0 100%,
      100% 100%,
      100% 0,
      15% 0,
      0 100%
    )
}
.slider-btn span{
    display: block;
    /* border-top-left-radius: 15px; */
    border-top-right-radius: 15px;
    -webkit-box-shadow: 0px -6px 18px -1px rgba(0,0,0,0.45); 
    box-shadow: 0px -6px 18px -1px rgba(0,0,0,0.45);
    color: white;
}
.bronze-mobile {
    background-color: #fff;
    transform: translateY(40px);
    color: #000 !important;
}
.silver-mobile {
    background-color: #4b3c4e;
    transform: translateY(20px);
} 
.gold-mobile {
    background: rgb(137,58,214);
    height: 80px;
    transform: translateY(0px);
}
.gold-head:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 280%;
    height: 100%;
    transform-origin: 50% 60%;
    transform: rotate(20deg);
    background: rgba(255,255,255,.2);
}
.gold-head:after{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg,transparent,rgba(255,255,255,.3),transparent);
    transition:0.3s;
    -webkit-animation: moves 4s infinite linear;
    -moz-animation: moves 4s infinite linear;
    -ms-animation: moves 4s infinite linear;
    -o-animation: moves 4s infinite linear;
    animation: moves 4s infinite linear;
}

/* phone-call */
.call-title{
    display: none;
    position:fixed;
    bottom:85px;
    left:55px;
    -webkit-box-shadow: -1px 2px 15px 5px rgba(0,0,0,0.35); 
  box-shadow: -1px 2px 15px 5px rgba(0,0,0,0.35);
    padding:8px;
    border-radius:10px;
    border-bottom-left-radius:0 !important;
    background: white;
    z-index: 1000;
  }
  .call-title:before {
    content: "";
    position:absolute;
    bottom:-12px;
    left:0;
    border-top: 6px solid rgb(255, 255, 255);
    border-left: 12px solid rgb(255, 255, 255);
    border-bottom: 6px solid transparent;
    border-right: 6px solid transparent;
  }
  .phone{
    position:fixed;
    display:flex;
    justify-content:center;
    align-items:center;
    bottom:16px;
    left:16px;
    background-color: rgb(255,150,0);
    color:white !important;
    width:54px;
    height:54px;
    border-radius:50%;
    text-decoration: none;
    transition: 0.6s;
    transform:rotate(0);
    -webkit-transform:rotate(0);
    -moz-transform:rotate(0);
    -ms-transform:rotate(0);
    -o-transform:rotate(0);
    z-index: 1000;
}
  .phone:hover{
    transform:rotate(360deg);
  }
/* -------  phone-call  ------ */

/* dashboard */
.dash-sub{
    background: rgb(86,0,176) !important;
    background: linear-gradient(90deg, rgba(86,0,176,1) 0%, rgba(0,183,227,1) 100%) !important;
}
.dash-sub1{
    position: relative;
    height: 250px;
    background: rgb(12,0,121) !important;
    background: linear-gradient(90deg, rgba(12,0,121,1) 0%, rgba(71,47,255,1) 100%) !important;
    overflow: hidden;
}
.dash-sub2{
    position: relative;
    height: 250px;
    background: rgb(144,0,44) !important;
    background: linear-gradient(90deg, rgba(144,0,44,1) 0%, rgba(255,44,102,1) 100%) !important;
    overflow: hidden;
}
.dash-sub2:before,.dash-sub1:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    transform-origin: 60% 60%;
    transform: rotate(-20deg);
    background: rgba(255,255,255,.2);
}
.dash-enter{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
    background: rgba(144,0,44,1);
    border-radius: 5px;
    overflow: hidden;
}
.dash-enter-disabled{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: rgb(240, 203, 214);
    background: rgba(144,0,44,1);
    border-radius: 5px;
    overflow: hidden;
    pointer-events: none;
    -webkit-box-shadow: inset 0px 0px 19px 16px rgba(0,0,0,0.4); 
    box-shadow: inset 0px 0px 19px 16px rgba(0,0,0,0.4);
}
.dash-enter:hover{
    /* background: rgb(218, 218, 218); */
    color: white;
}
.dash-enter span{
	position: absolute;
	display: block;
	transition: 0.5s ease;
}
.dash-enter span:nth-child(1)
{
	top: 0;
	left: 0;
	width: 0;
	height: 1px;
	background: #fff;
}
.dash-enter:hover span:nth-child(1)
{
	width: 100%;
	transform: translateX(100%);
}
.dash-enter span:nth-child(3)
{
	bottom: 0;
	right: 0;
	width: 0;
	height: 1px;
	background: #fff;
}
.dash-enter:hover span:nth-child(3)
{
	width: 100%;
	transform: translateX(-100%);
}
.dash-enter span:nth-child(2)
{
	top: 0;
	left: 0;
	width: 1px;
	height: 0;
	background: #fff;
}
.dash-enter:hover span:nth-child(2)
{
	height: 100%;
	transform: translateY(100%);
}
.dash-enter span:nth-child(4)
{
	bottom: 0;
	right: 0;
	width: 1px;
	height: 0;
	background: #fff;
}
.dash-enter:hover span:nth-child(4)
{
	height: 100%;
	transform: translateY(-100%);
}
.dash-enter:after{
	content: '';
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background: linear-gradient(90deg,transparent,rgba(255,255,255,.4),transparent);
	transition: 0.5s;
	transition-delay: 0.1s;
}
.dash-enter:hover:after{
	left: 100%;
}

.text-white{
    color: #fff;
}

.tools i{
    font-size: 36px;
    border-radius:20px
}

.typed-out{
    display: inline-block !important;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 900;
    width: 0;
    animation: typing 5s steps(40, end) infinite forwards;
    -o-animation:  typing 5s steps(40, end) infinite forwards;
    -moz-animation:  typing 5s steps(40, end) infinite forwards;
    -ms-zoom-animation: typing 5s steps(40, end) infinite forwards ;
    -webkit-animation: typing 5s steps(40, end) infinite forwards;
} 
.typed-out span::before{
    content: "";
    border-left: 4px solid orange;
    animation: changeword 20s step-start infinite, blink .5s step-end infinite alternate;
    -o-animation:  changeword 20s step-start infinite, blink .5s step-end infinite alternate;
    -moz-animation:  changeword 20s step-start infinite, blink .5s step-end infinite alternate;
    -ms-zoom-animation:  changeword 20s step-start infinite, blink .5s step-end infinite alternate;
    -webkit-animation: changeword 20s step-start infinite, blink .5s step-end infinite alternate;
}
/*---====== start footer section ======---*/
.footer-big{
    padding: 3rem 0;
    background-color: #eff1f5;
}
/*---====== end footer section ======---*/
/*---====== start footer icon hover section ======---*/
.social--color--filled span:hover{
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    box-shadow: 0px 0px 0px 5px #FFFFFF;
    -webkit-box-shadow: 0px 0px 0px 5px #FFFFFF;
}
/*---====== end footer icon hover section ======---*/

/*---====== start add my job section ======---*/
.myjob{
    background-color: rgba(0,0,0,0.35);
    margin-bottom: 30px;
    box-shadow: 0 2px 4px rgb(108 111 115 / 10%);
    border-radius: 4px;
    border: 2px dashed white;
    height: 449px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.myjob a{
    text-align: center;
    padding: 0 20px;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: white;
}
.myjob .plus{
    background-color: #FFFFFF;
    color: #999 !important;
    padding: 20px;
    font-size: 50px;
    margin-top: 40px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.myjob .plus:hover{
    background-color: #eee;
    color: #999 !important;
}
/*---====== end add my job section ======---*/



/*---===== start animation keyframes =====---*/

/* header type character anime*/
@keyframes typing {
    0% { width: 0 }
    50%{ width: 100% }
    90%{ width: 0;}
}
@-o-keyframes typing {
    0% { width: 0 }
    50%{ width: 100% }
    90%{ width: 0;}
}
@-moz-keyframes typing {
    0% { width: 0 }
    50%{ width: 100% }
    90%{ width: 0;}
}
@-webkit-keyframes typing {
    0% { width: 0 }
    50%{ width: 100% }
    90%{ width: 0;}
}

/* header span words anime */
@keyframes changeword {
    25%{content: "بهترین";color: springgreen }
    50%{content: "سریع ترین";color: rgb(0, 255, 234)}
    75%{content: "به صرفه ترین";color: rgb(255, 152, 255); }
    100%{content: "پر بازده ترین";color: rgb(255, 247, 140); }
}
@-o-keyframes changeword {
    25%{content: "بهترین";color: springgreen }
    50%{content: "سریع ترین";color: rgb(0, 255, 234)}
    75%{content: "به صرفه ترین";color: rgb(255, 152, 255); }
    100%{content: "پر بازده ترین";color: rgb(255, 247, 140); }
}
@-moz-keyframes changeword {
    25%{content: "بهترین";color: springgreen }
    50%{content: "سریع ترین";color: rgb(0, 255, 234)}
    75%{content: "به صرفه ترین";color: rgb(255, 152, 255); }
    100%{content: "پر بازده ترین";color: rgb(255, 247, 140); }
}
@-webkit-keyframes changeword {
    25%{content: "بهترین";color: springgreen }
    50%{content: "سریع ترین";color: rgb(0, 255, 234)}
    75%{content: "به صرفه ترین";color: rgb(255, 152, 255); }
    100%{content: "پر بازده ترین";color: rgb(255, 247, 140); }
}

/* header typewriting cursur blinking anime */
@keyframes blink {
    50% {
    border-color: transparent;
    }
}
@-o-keyframes blink {
    50% {
    border-color: transparent;
    }
}
@-moz-keyframes blink {
    50% {
    border-color: transparent;
    }
}
@-webkit-keyframes blink {
    50% {
    border-color: tranparent;
    }
}

/* glass type price table anime */
@keyframes moves {
    6% {
        left: 100%;
    }
    100%{
        left: 100%;
    }
}
@-o-keyframes moves {
    6% {
        left: 100%;
    }
    100%{
        left: 100%;
    }
}
@-moz-keyframes moves {
    6% {
        left: 100%;
    }
    100%{
        left: 100%;
    }
}
@-webkit-keyframes moves {
    6% {
        left: 100%;
    }
    100%{
        left: 100%;
    }
}
/*---===== end animation keyframes =====---*/

/*---===== start media queries =====---*/
@media only screen and (max-width: 500px) {
    #pricing-table th[scope="row"]{
        max-width: 130px;
    }
}
@media (min-width: 991px) and (max-width: 1200px) {
    .feature2{
        height: 470px;
    }
}
@media only screen and (max-width: 990px) {
    [data-col="1"],[ data-col="3"]{
        display: none;
    }
}
@media only screen and (min-width: 990px) {
    .slider-btn span{
        display: none;
    }
    .bronze-head{
        padding-top: 1.5rem !important;
        padding-bottom: 1.5rem !important;
    }
    .silver-head{
        padding-top: 1.5rem !important;
        padding-bottom: 1.5rem !important;
    }
    .gold-head{
        padding-top: 2rem !important;
        padding-bottom: 2rem !important;
    }
}
@media only screen and (min-width: 1200px) {
    .feature2{
        height: 415px;
    }
    .call-title{
        display: inline;
      }
}
/*---===== end animation keyframes =====---*/